<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>door0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{364,370}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{364,370}</string>
				<key>spriteSourceSize</key>
				<string>{364,370}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{364,370}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>door0001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{364,370}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{364,370}</string>
				<key>spriteSourceSize</key>
				<string>{364,370}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{364,0},{364,370}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>door0002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{364,370}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{364,370}</string>
				<key>spriteSourceSize</key>
				<string>{364,370}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{728,0},{364,370}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>door0003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{364,370}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{364,370}</string>
				<key>spriteSourceSize</key>
				<string>{364,370}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1092,0},{364,370}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>door0004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{364,370}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{364,370}</string>
				<key>spriteSourceSize</key>
				<string>{364,370}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1456,0},{364,370}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>door0005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{364,370}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{364,370}</string>
				<key>spriteSourceSize</key>
				<string>{364,370}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,370},{364,370}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>door0006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{364,370}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{364,370}</string>
				<key>spriteSourceSize</key>
				<string>{364,370}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{364,370},{364,370}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>door0007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{364,370}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{364,370}</string>
				<key>spriteSourceSize</key>
				<string>{364,370}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{728,370},{364,370}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>door0008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{364,370}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{364,370}</string>
				<key>spriteSourceSize</key>
				<string>{364,370}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1092,370},{364,370}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>door0009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{364,370}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{364,370}</string>
				<key>spriteSourceSize</key>
				<string>{364,370}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1456,370},{364,370}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>door0010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{364,370}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{364,370}</string>
				<key>spriteSourceSize</key>
				<string>{364,370}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,740},{364,370}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>door0011</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{364,370}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{364,370}</string>
				<key>spriteSourceSize</key>
				<string>{364,370}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{364,740},{364,370}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>door0012</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{364,370}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{364,370}</string>
				<key>spriteSourceSize</key>
				<string>{364,370}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{728,740},{364,370}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>door0013</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{364,370}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{364,370}</string>
				<key>spriteSourceSize</key>
				<string>{364,370}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1092,740},{364,370}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>door0014</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{364,370}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{364,370}</string>
				<key>spriteSourceSize</key>
				<string>{364,370}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1456,740},{364,370}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>door0015</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{364,370}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{364,370}</string>
				<key>spriteSourceSize</key>
				<string>{364,370}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,1110},{364,370}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>door0016</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{364,370}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{364,370}</string>
				<key>spriteSourceSize</key>
				<string>{364,370}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{364,1110},{364,370}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>door.png</string>
				<key>textureFileName</key>
				<string>door</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
