<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>weaponKnife2.pngAttack0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{179,165}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{179,165}</string>
				<key>spriteSourceSize</key>
				<string>{179,165}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{179,165}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>weaponKnife2.pngAttack0001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{179,165}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{179,165}</string>
				<key>spriteSourceSize</key>
				<string>{179,165}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{179,0},{179,165}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>weaponKnife2.pngAttack0002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{179,165}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{179,165}</string>
				<key>spriteSourceSize</key>
				<string>{179,165}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{358,0},{179,165}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>weaponKnife2.pngAttack0003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{179,165}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{179,165}</string>
				<key>spriteSourceSize</key>
				<string>{179,165}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{537,0},{179,165}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>weaponKnife2.pngAttack0004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{179,165}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{179,165}</string>
				<key>spriteSourceSize</key>
				<string>{179,165}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{716,0},{179,165}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>weaponKnife2.pngAttack0005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{179,165}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{179,165}</string>
				<key>spriteSourceSize</key>
				<string>{179,165}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,165},{179,165}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{895,330}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>weaponKnife2Attack.png</string>
				<key>textureFileName</key>
				<string>weaponKnife2Attack</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
